footer{
   
    .footer_nav{
    background: linear-gradient(to right,@Pink,@Purple); 
    border-top:5px solid @Orange;
    bottom: 0;
    position:fixed;
    width: 100%;
    .display-flex(space-evenly,center);
    flex-direction: row-reverse;
    font-size: 2rem;
    padding: 2rem;

      p{
          color:@offPink;
      }


}

}
