footer{
    .prettyFont;
    .footer_nav{
    background: @Purple; 
    width: 100%;
    .display-flex(space-evenly,center);
    flex-direction: row-reverse;
    font-size: 2rem;
    padding: 2rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

      p{
          color:@offPink;
      }
      @media @tablet{
          width: 100%;
      }
      @media @phone{
          width: 100%;
      }


}

}
