// Work started by Iraj Date:12/19/2019----

/* Slideshow container */  

.slideshow-container{
        
       .mySlides{
        position: relative;
        max-width: 100%;
        height: 50%;
        margin:0 auto;
        padding: 0;

        h1{
           
            font-size: 2.6rem;
            color: @Pink;
            position: absolute;
           text-transform: uppercase;
            width: 100%;
            text-align: right; 
            top:8rem;
           margin-left: -10rem;
           background: rgb(0, 0, 0); /* fallback color */
           background: rgba(0, 0, 0, 0.05);
         
           
            
          }
          h2{
            color:@white ;
            font-size: 15px;
            font-size: 2.3rem;
            position: absolute;
            text-transform: uppercase;
            width: 100%;
            text-align: right; 
            top:12rem;
            margin-left: -10rem;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.05);
            
          }
          button{
            color:@Purple;
            position: absolute;
            text-align: center; 
            top:18rem;
            margin-left: -25rem;
            text-transform: Uppercase;
            padding:1rem;
            background: @offPink;
            width:85px;
            &:hover{
                background: @Pink;
                color:@offPink;
            }
           
          }
          img{
            width:100%;
            height:400px; 
        }

       
       } 

       @media @phone {
        display: none;
      }

    }

// slider dot animation

.dot{             
    height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: @offPink;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
  margin-bottom: 4rem; 

  @media @phone {
    display: none;
  }
}
.active {
    background-color:@lightHenna;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
//----  Ended above  Iraj ,Date :12/19/2019----


/************ MichelleRH ******************/

.lowerBody {
  width: 75%;
  margin: auto;
  text-align: center;

    @media @phone {
      width: 100%;
    }

    h1 {
      font-family: 'Inria Serif', serif;
      .personalSpace();
      margin-bottom: 2.5rem;
    }

    div {
      background-color: @offPink;
      border-radius: 20px;
      .personalSpace();
      padding: 2rem 0;

          h3 {
            font-size: 2.6rem;
            padding-bottom: 1.5rem;
          }

          p {
            padding: 0 1rem;
          }
    }
}

.infoBoxes {
  .display-flex(space-between, center);
  margin: 5rem 0 15rem 0;


      @media @tablet {
        .columnFlex(space-between, center);
      }

      @media @phone {
        .columnFlex(space-between, center);
        margin: 0 auto;
      }


        div {
          .columnFlex(space-around, center);
          width: 25rem;
          height: 25rem;
          .personalSpace();
          background-color: #fff;
          border: 4px @lightHenna solid;
          border-radius: 10px;
          color: @Purple;

            @media @tablet {
              width: 50%;
            }

            @media @phone {
              width: 100%;
            }

              h4 {
                color: @Purple;
              }
        }
}


  
