// Color assignments 
@main-bg:  @white;
@navigation-border: @Purple;
@footer-bg: @Purple;
@font-color:@black ;
@button-bg: @Pink;

//colors
@white: #FFFFFF;
@lightHenna: #B5A886;
@offPink: #FEE1C7;
@Orange: #FA7E61;
@Pink:#F44174;
@Purple:#4C1E4F;
@black:#000000;


